name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: install packages
        run: make install
      - name: lint
        run: make lint
      - name: format
        run: make format
      - name: run
        env:
          HOST: ${{ secrets.HOST }}
          HTTP_PATH: ${{ secrets.HTTP_PATH }}
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        run: make run